<!DOCTYPE html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="assets/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="assets/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="assets/datatables.net-bs4/dataTables.bootstrap4.css">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="assets/css/vertical-layout-light/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="" />
  </head>

  <body class="sidebar-icon-only">
    <!-- partial -->
    <div class="content-wrapper">
      <div class="card">
        <div class="card-body">
          <div class="col-12">
            <div class="row mb-2">
              <div class="col-12 text-center">
                <h1 style="text-align: center;">KW MOTORS</h1>
                <h4 style="text-align: center;">Inventory Report</h4>
                <h6 style="text-align: center;">KW Motors Ltd
                Hertfordshire
                AL2 3NY
                <br>
                      Noke Lane St Albans<br>
                      sales@kwmotorsltd.co.uk<br>
                    Contact Us: +44 1234 677722</h6>
                  <h3 style="text-align: center;">{{ from_date }} To {{ to_date }}</h3>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="table-responsive">
                <table class="table text-center">
                  <thead>
                    <tr>
                      <th>No.</th>
                      <th>Date</th>
                      <th>Car Name</th>
                      <th>Reg No.</th>
                      <th>Car Model</th>
                      <th>Final Buy Price</th>
                      <th>KWNo</th>
                    </tr>
                </tr>
                {% for x in Inventory %}
                <tr style="text-align: center;">
                    <td>{{ forloop.counter }}</td>
                    <td>{{ x.Date }}</td>
                    <td>{{ x.CarName }}</td>
                    <td>{{ x.RegNo }}</td>
                    <td>{{ x.CarModel }}</td>
                    <td>{{ x.FinalPrice }}</td>
                    <td>{{ x.KWNo }}</td>
                </tr>
                {% endfor %}
                </thead>
                </table>
                <hr class='hrItem' />
                <b>Total:</b> {{ total }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- content-wrapper ends -->
    <!-- plugins:js -->
    <script src="assets/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page-->
    <script src="assets/datatables.net/jquery.dataTables.js"></script>
    <script src="assets/datatables.net-bs4/dataTables.bootstrap4.js"></script>
    <!-- End plugin js for this page-->
    <!-- inject:js -->
    <script src="assets/js/index.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <script src="assets/js/data-table.js"></script>
    <!-- End custom js for this page-->
  </body>
</html>
