<!DOCTYPE html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="assets/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="assets/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="assets/datatables.net-bs4/dataTables.bootstrap4.css">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="assets/css/vertical-layout-light/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="" />
  </head>

  <body class="sidebar-icon-only">
    <!-- partial -->
    <div class="content-wrapper">
      <div class="card">
        <div class="card-body">
          <div class="col-12">
            <div class="row mb-2">
              <div class="col-12 text-center">
                <h6 style="text-align: center;">Ahmedabad</h6>
                <h1 style="text-align: center;">Showtime Media Management</h1>
                <h4 style="text-align: center;">Sales Report</h4>
                <h6 style="text-align: center;">8048 Bienville Dr, Nashville,<br>
                  Tennessee 37211, US<br>
                  Mitch@showtimemediamgmt.com</h6>
                  <label class="mr-2"><h3 style="text-align: center;">{{ from_date }}</h3></label><h3 style="text-align: center;">To</h3><lable class="ml-2"> <h3 style="text-align: center;">{{ to_date }}</h3></lable>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="table-responsive">
                <table>
                          <tr>
                              <th>Date</th>
                              <th>CarName</th>
                              <th>RegNo</th>
                              <th>KWNo</th>
                              <th>V.Type</th>
                              <th>Credit</th>
                              <th>Debit</th>
                          </tr>
                          {% for x in sold_details %}
                          <tr style="text-align: center;">
                              <td>{{ x.Date }}</td>
                              <td>{{ x.CarName }}</td>
                              <td>{{ x.RegNo }}</td>
                              <td>{{ x.KWNo }}</td>
                              <td>{{ x.Vtype }}</td>
                              <td>{{ x.Amount }}</td>
                              <td>{{ x.FinalPrice }}</td>
                          </tr>
                          {% endfor %}
                      </table>
                      <hr class='hrItem' />
                      Total Credit: {{ credit }}<br>
                      Total Credit: {{ debit }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- content-wrapper ends -->
    <!-- plugins:js -->
    <script src="assets/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page-->
    <script src="assets/datatables.net/jquery.dataTables.js"></script>
    <script src="assets/datatables.net-bs4/dataTables.bootstrap4.js"></script>
    <!-- End plugin js for this page-->
    <!-- inject:js -->
    <script src="assets/js/index.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <script src="assets/js/data-table.js"></script>
    <!-- End custom js for this page-->
  </body>
</html>
