<!DOCTYPE html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="../static/app/assets/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../static/app/assets/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="../static/app/assets/datatables.net-bs4/dataTables.bootstrap4.css">
    <link rel="stylesheet" href="../static/app/assets/dropify/dropify.min.css">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="../static/app/assets/css/vertical-layout-light/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="" />

    <!-- <link rel="stylesheet" type="text/css" href="../static/app/aseets/css/example-styles.css"> -->
    <!-- <link rel="stylesheet" type="text/css" href="demo-styles.css"> -->
  </head>

  <body class="sidebar-icon-only">
    <div class="container-scroller">
      <!-- partial:../../partials/_navbar.html -->
      <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div class="navbar-menu-wrapper d-flex align-items-stretch justify-content-between">
          <ul class="navbar-nav mr-lg-2 d-none d-lg-flex">
            <li class="nav-item nav-toggler-item">
              <button class="navbar-toggler align-self-center" type="button" data-toggle="minimize">
                <span class="mdi mdi-menu"></span>
              </button>
            </li>
            <!-- <li class="nav-item nav-search d-none d-lg-flex">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="search">
                    <i class="mdi mdi-magnify"></i>
                  </span>
                </div>
                <input type="text" class="form-control" placeholder="search" aria-label="search" aria-describedby="search">
              </div>
            </li> -->
          </ul>
          <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
            <a class="navbar-brand brand-logo" href="index.html"><img src="../static/app/assets/img/logo.png"></a>
            <a class="navbar-brand brand-logo-mini" href="index.html"><img src="../static/app/assets/img/logo.png"></a>
          </div>
          <ul class="navbar-nav navbar-nav-right">
            <!-- <li class="nav-item dropdown">
              <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#" data-toggle="dropdown">
                <i class="mdi mdi-bell-outline mx-0"></i>
                <span class="count"></span>
              </a>
              <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown">
                <a class="dropdown-item">
                  <p class="mb-0 font-weight-normal float-left">You have 4 new notifications
                  </p>
                  <span class="badge badge-pill badge-warning float-right">View all</span>
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <div class="preview-icon bg-success">
                      <i class="mdi mdi-information mx-0"></i>
                    </div>
                  </div>
                  <div class="preview-item-content">
                    <h6 class="preview-subject font-weight-medium">Application Error</h6>
                    <p class="font-weight-light small-text mb-0">
                      Just now
                    </p>
                  </div>
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <div class="preview-icon bg-warning">
                      <i class="mdi mdi-settings mx-0"></i>
                    </div>
                  </div>
                  <div class="preview-item-content">
                    <h6 class="preview-subject font-weight-medium">Settings</h6>
                    <p class="font-weight-light small-text mb-0">
                      Private message
                    </p>
                  </div>
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <div class="preview-icon bg-info">
                      <i class="mdi mdi-account-box mx-0"></i>
                    </div>
                  </div>
                  <div class="preview-item-content">
                    <h6 class="preview-subject font-weight-medium">New user registration</h6>
                    <p class="font-weight-light small-text mb-0">
                      2 days ago
                    </p>
                  </div>
                </a>
              </div>
            </li> -->
            <li class="nav-item nav-profile dropdown">
              <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
                <img src="https://via.placeholder.com/30x30" alt="profile"/>
                <span class="nav-profile-name">{{ user }}</span>
              </a>
              <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
                <!-- <a class="dropdown-item">
                  <i class="mdi mdi-settings text-primary"></i>
                  Settings
                </a> -->
                <div class="dropdown-divider"></div>
                <a class="{% url 'logout' %}">
                  <i class="mdi mdi-logout text-primary"></i>
                  Logout
                </a>
              </div>
            </li>
            <li class="nav-item nav-toggler-item-right d-lg-none">
              <button class="navbar-toggler align-self-center" type="button" data-toggle="offcanvas">
                <span class="mdi mdi-menu"></span>
              </button>
            </li>
          </ul>
        </div>
      </nav>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:../../partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'index' %}">
                <i class="mdi mdi-view-quilt menu-icon"></i>
                <span class="menu-title">Dashboard</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'car_list' %}">
                <i class="mdi mdi-car menu-icon"></i>
                <span class="menu-title">Cars</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link"  href="{% url 'lead_list' %}">
                <i class="mdi mdi-chart-bar menu-icon"></i>
                <span class="menu-title">Leads</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'cust_list' %}">
                <i class="mdi mdi-account-multiple menu-icon"></i>
                <span class="menu-title">Customers</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'sold_cars' %}">
                <i class="mdi mdi-cash-multiple menu-icon"></i>
                <span class="menu-title">Sold Cars</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'all_rep' %}">
                <i class="mdi mdi-file-document-box-outline menu-icon"></i>
                <span class="menu-title">Reports</span>
              </a>
            </li>
          </ul>
        </nav>
        <!-- partial -->
        
        <div class="main-panel">
          <!-- Price Start-->
          <form method="post" name="sellcar_fr" id="sellcar_fr">
            {% csrf_token %}
          <div class="content-wrapper">
            <h2 class="pl-3">Sell To Customer</h2>
            <!-- <div class="row">
              <div class=" col float-left">
                <h2 class="pl-3">View Customer Details</h2>
              </div>
              <div class="col mb-2">
                <a href="customer-details.html" class="btn btn-outline-primary float-right">Edit</a>
              </div>
            </div> -->
            <div class="row">
              <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="container">
                        <div class="row">
                          <div class="col">
                            <label>Name</label>
                            <input type="text" name="name" id="lead_name" class="form-control" autocomplete="off">
                            <div class="prelist"></div>
                          </div>
                          <div class="col">
                            <label>Email</label>
                            <input type="text" name="email" id="email" class="form-control" readonly>
                          </div>
                        </div>
                        <div class="row mt-2">
                          <div class="col">
                            <label>Phone No:</label>
                            <input type="text" name="phone" id="phone" class="form-control" readonly>
                          </div>
                          <div class="col">
                            <label>Date</label>
                            <input type="date" name="date" value='{{ today_date }}' class="form-control">
                          </div>
                        </div> 
                        <div class="row mt-2">
                          <div class="col">
                            <label>Address</label>
                            <textarea rows="5" name="address" id="address" class="form-control" readonly></textarea>
                          </div>
                        </div>
                        <div class="row mt-2">
                          <div class="col">
                            <label>Purchase Value</label>
                            <div class="input-group-prepend">
                              <span class="input-group-text bg-primary text-white">£</span>
                              <input type="text" name="amount" class="form-control">
                              <div class="input-group-append">
                                <span class="input-group-text">.00</span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row mt-3">
                          <div class="col-6">
                            <label class="form-check-label">Payments</label>
                            <div class="form-check-inline ml-3">
                              <label class="form-check-label" for="radio1">
                                <input type="radio" name="payment" value="Cash" class="mr-1" />Cash<br>
                              </label>
                              <label class="form-check-label ml-3" for="radio2">
                                <input type="radio" name="payment" value="Finance" class="mr-1" />Finance<br>
                              </label>
                            </div>
                            <div class="row mt-2 pl-3">
                              <div class="for_finance display-none">
                                <input  type="text" name="Finance" id="Finance" placeholder="Deposite Value" class="form-control form-control-lg mr-5"/>
                              </div>
                              <div class="for_cash display-none">
                                <input  type="text" name="Cash2" id="Cash" placeholder="Paid Value" class="form-control form-control-lg mr-5" /> 
                              </div>
                            </div>
                          </div>
                          <div class="col-6">
                             <div class="row mt-2">
                              <div class="col-12">
                                <input type="text" name="slct_car" value="{{ car_detail }}" class="form-control" readonly>
                              </div>
                            </div>
                          </div>
						            </div>
                       	<div class="row mt-3 pl-1">
                       		<div class="col">
	                       		<label>Upload Payment Receipt</label>
	                        	<input type="file" name="receipt" class="dropify"/>
                        	</div>
                        </div>
                        <div class="row mt-4 pl-3">
                        	<input type="submit" name="submit" value="Submit" class="btn btn-outline-primary">
                        </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </form>
          <!-- Price End-->
          <!-- partial:../../partials/_footer.html -->
          <footer class="footer">
            <div class="d-sm-flex justify-content-center justify-content-sm-between">
              <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2021 <a href="https://www.helicoreinfo.com/" target="_blank">Helicore</a>. All rights reserved.</span>
              <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i class="mdi mdi-heart text-danger"></i></span>
            </div>
          </footer>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script src="../static/app/assets/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page-->
    <script src="../static/app/assets/datatables.net/jquery.dataTables.js"></script>
    <script src="../static/app/assets/datatables.net-bs4/dataTables.bootstrap4.js"></script>
    
    <script>
    $(document).mouseup(function(e){
      var container = $(".prelist");
      if (!container.is(e.target) && container.has(e.target).length === 0) 
      {
          $('.prelist').html('');
      }
    });

    $(document).ready(function(){
      $('#lead_name').keyup(function(){
          var lead_name = $(this).val();
          // if($.trim(lead_name)!=''){
              $.ajax({
                  url : '/temp/',
                  type : 'POST',
                  // dataType : 'json',
                  data : {lead_name:lead_name},
                  success:function(res){
                      $('.prelist').html(res.html);
                      $('.prelist').show();
                      $('.select-lead-name').click(function(){
                          var name = $(this).data('name');
                          var address = $(this).data('address');
                          var email = $(this).data('email');
                          var mobile = $(this).data('mobile');
                          $('#sellcar_fr #lead_name').val(name);
                          $('#sellcar_fr #email').val(email);
                          $('#sellcar_fr #phone').val(mobile);
                          $('#sellcar_fr #address').val(address);
                          $('.prelist').hide();     
                      })
                      
                  }
              })
          // }
        });
    })
        
    </script>


    <script src="../static/app/assets/dropify/dropify.min.js"></script>
    <!-- <script src="assets/js/jquery.multi-select.js"></script> -->
    <!-- End plugin js for this page-->
    <!-- inject:js -->
    <script src="../static/app/assets/js/index.js"></script>
    <script src="../static/app/assets/js/dropdown.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <!-- <script src="../static/app/../static/app/assets/js/data-table.js"></script> -->
    <script src="../static/app/assets/js/dropify.js"></script>
    <!-- End custom js for this page-->

    <script type="text/javascript" src="../static/app/assets/js/jquery-2.2.4.min.js"></script>
    <script type="text/javascript" src="../static/app/assets/js/jquery.multi-select.js"></script>
    
  </body>
</html>
